<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 4.1.2 Linear Regression

## Prediction of House Price Using Linear Regression

### Data

The Sacramento real estate transactions file is a list of 985 real estate transactions in the Sacramento area reported over a five-day period, as reported by the Sacramento Bee.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

### 1. Explore Data

Perform EDA on this dataset. Find Dependent and Independent Variables to predict house price.

In [2]:
# Read CSV

house_csv = "Sacramento_transactions.csv"

house = pd.read_csv(house_csv)

In [3]:
house.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

### 2. Predict Price

We are going to predict `price` from available information.

#### 2.1 What is the Target Variable? Why?

In [5]:
# ANSWER
target = house.price

price (what we are trying to predict)

#### 2.2 List all possible variables which might be Independent/Predictor variable.

In [39]:
# ANSWER
predictors = house.loc[:,['beds', 'baths', 'sq__ft']]

#### 2.3 Find correlation between variables

Find correlation between variables. Which is the best predictor? Why? State your reason.

In [33]:
# ANSWER
data = predictors
data['price'] = target

data.corr()

            beds     baths    sq__ft     price
beds    1.000000  0.839650  0.684041  0.342024
baths   0.839650  1.000000  0.665690  0.416208
sq__ft  0.684041  0.665690  1.000000  0.333897
price   0.342024  0.416208  0.333897  1.000000

#### 2.4 Find Coefficient and Intercept using Linear Regression

Using LinearRegression of sklearn.linear_model package find Coefficient and Intercept.

Create an instance of LinearRegression.

Explore following methods:

- fit
- predict
- score

In [8]:
from sklearn.linear_model import LinearRegression

##### 2.4.1 Fit predictor and target variables using linear regression

In [17]:
# ANSWER

X = data['sq__ft']#.values.reshape(-1,1)
Y = data['price']

##### 2.4.2 Find R Score

Find $R^2$ Using ```score``` method of Linear Regression.

In [28]:
# ANSWER
lr = LinearRegression()

Fit = lr.fit(X,Y)

Pre = Fit.predict(X)

Fit.score(X,Y)

0.11148717682951437

### 3. Splitting Data

In [29]:
from sklearn.model_selection import train_test_split

#### 3.1 Create training and testing subsets

Hint: Using `train_test_split` Library.

```
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
```

In [40]:
# ANSWER
## Create training and testing subsets
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.33, random_state=42)

#### 3.2 Check Shape, Sample of Test Train Data

In [44]:
# ANSWER
## Check training/test data
set_list = [X_train, X_test, y_train, y_test]

for Set in set_list:
    print(Set.shape)
    print(Set.sample(5))

(659, 3)
     beds  baths  sq__ft
894     3      1     962
905     2      1     884
74      3      2    1511
840     4      3    3261
855     5      4    3863
(326, 3)
     beds  baths  sq__ft
227     3      2       0
310     0      0       0
465     4      2    1574
250     3      2    1503
33      3      2    1116
(659,)
304    399000
679    190000
929    174000
725    232500
633    130000
Name: price, dtype: int64
(326,)
362    115000
857    600000
718    222500
799    326951
717    222000
Name: price, dtype: int64

In [40]:
# ANSWER

In [41]:
# ANSWER

### 4. Predict House Price

Let's assume we have information of following house:

- street:	1140 EDMONTON DR
- city:	SACRAMENTO
- zip:	95833
- state:	CA
- beds:	3
- baths:	2
- sq__ft:	1204
- type:	Residential

**Predict the price of this house using linear regression model.**

In [49]:
# ANSWER
Fit.predict(np.array([[1024]]))

array([218388.60844805])

#### Find the error

In [7]:
# Predict price from X_test



---



---



> > > > > > > > > Â© 2021 Institute of Data


---



---