<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 7.1.1: Decision Trees

INSTRUCTIONS:

- Read the guides and hints then create the necessary analysis and code to find and answer and conclusion for the scenario below.
- The baseline results (minimum) are:
    - **Accuracy** = 0.6895
    - **ROC AUC**  = 0.5690
- Try to achieve better results!

# Foreword
It is common that companies and professionals start with the data immediately available. Although this approach works, ideally the first step is to idenfy the problem or question and only then identify and obtain the set of data that can help to solve or answer the problem.

Also, given the current abundance of data, processing power and some particular machine learning methods, there could be a temptation to use ALL the data available. **Quality** is _**better**_ then **Quantity**!

Part of calling this discipline **Data Science** is that it is supposed to follow a process and not reach conclusions without support from evidence.

Moreover, it is a creative, exploratory, labour and iteractive processes. It is part of the process to repeat, review and change when finding a dead-end.

# Step 1: Define the problem or question
Identify the subject matter and the given or obvious questions that would be relevant in the field.

## Potential Questions
List the given or obvious questions.

## Actual Question
Choose the **one** question that should be answered.

# Step 2: Find the Data
### Blood Transfusion Service Center DataSet
- **Abstract**: Data taken from the **Blood Transfusion Service Center** in Hsin-Chu City in Taiwan.
- Date Donated: 2008-10-03
- Source:
        Original Owner and Donor: Prof. I-Cheng Yeh 
        Department of Information Management 
        Chung-Hua University, 
        Hsin Chu, Taiwan 30067, R.O.C. 

- Citation Request:
    **NOTE**: Reuse of this database is unlimited with retention of copyright notice for Prof. I-Cheng Yeh and the following published paper: 

        Yeh, I-Cheng, Yang, King-Jang, and Ting, Tao-Ming, "Knowledge discovery on RFM model using Bernoulli sequence, "Expert Systems with Applications, 2008
        
### UCI - Machine Learning Repository
- Center for Machine Learning and Intelligent Systems

The [**UCI Machine Learning Repository**](http://archive.ics.uci.edu/ml/about.html) is a collection of databases, domain theories, and data generators that are used by the machine learning community for the empirical analysis of machine learning algorithms.

# Step 3: Read the Data
- Read the data
- Perform some basic structural cleaning to facilitate the work

# Step 4: Explore and Clean the Data
- Perform some initial simple **EDA** (Exploratory Data Analysis)
- Check for
    - **Number of features**
    - **Data types**
    - **Domains, Intervals**
    - **Outliers** (are they valid or expurious data [read or measure errors])
    - **Null** (values not present or coded [as zero of empty strings])
    - **Missing Values** (coded [as zero of empty strings] or values not present)
    - **Coded content** (classes identified by numbers or codes to represent absence of data)

# Step 5: Prepare the Data
- Deal with the data as required by the modelling technique
    - **Outliers** (remove or adjust if possible or necessary)
    - **Null** (remove or interpolate if possible or necessary)
    - **Missing Values** (remove or interpolate if possible or necessary)
    - **Coded content** (transform if possible or necessary [str to number or vice-versa])
    - **Normalisation** (if possible or necessary)
    - **Feature Engeneer** (if useful or necessary)

# Step 6: Modelling
Refer to the Problem and Main Question.
- What are the input variables (features)?
- Is there an output variable (label)?
- If there is an output variable:
    - What is it?
    - What is its type?
- What type of Modelling is it?
    - [ ] Supervised
    - [ ] Unsupervised 
- What type of Modelling is it?
    - [ ] Regression
    - [ ] Classification (binary) 
    - [ ] Classification (multi-class)
    - [ ] Clustering

# Step 7: Split the Data

Need to check for **Supervised** modelling:
- Number of known cases or observations
- Define the split in Training/Test or Training/Validation/Test and their proportions
- Check for unbalanced classes and how to keep or avoid it when spliting

# Step 8: Define a Model

Define the model and its hyper-parameters.

Consider the parameters and hyper-parameters of each model at each (re)run and after checking the efficiency of a model against the training and test datasets.

# Step 9: Fit the Model

# Step 10: Verify and Evaluate the Training Model
- Use the **training** data to make predictions
- Check for overfitting
- What metrics are appropriate for the modelling approach used
- For **Supervised** models:
    - Check the **Training Results** with the **Training Predictions** during development
- Analyse, modify the parameters and hyper-parameters and repeat (within reason) until the model does not improve

# Step 11: Make Predictions and Evaluate the Test Model
**NOTE**: **Do this only after not making any more improvements in the model**.

- Use the **test** data to make predictions
- For **Supervised** models:
    - Check the **Test Results** with the **Test Predictions**

# Step 12: Solve the Problem or Answer the Question
The results of an analysis or modelling can be used:
- As part of a product or process, so the model can make predictions when new input data is available
- As part of a report including text and charts to help understand the problem
- As input for further questions

# Step 1

#### Potential Questions

#### Actual Question

How likely is a person to donate blood given their transfusion history?

## Step 2+3

In [2]:
import numpy as np
import pandas as pd

In [3]:
data_name = 'transfusion.data'

data = pd.read_csv(data_name, sep=",")

## Step 4

#### Number of Features

In [4]:
data.shape[1]

5

#### Data Types

In [5]:
data.dtypes

Recency (months)                              int64
Frequency (times)                             int64
Monetary (c.c. blood)                         int64
Time (months)                                 int64
whether he/she donated blood in March 2007    int64
dtype: object

#### Domains/Intervals

In [6]:
for name, col in data.iteritems():
    print(name)
    print(f'[{col.min()}, {col.max()}]')

Recency (months)
[0, 74]
Frequency (times)
[1, 50]
Monetary (c.c. blood)
[250, 12500]
Time (months)
[2, 98]
whether he/she donated blood in March 2007
[0, 1]

#### Outliers

In [7]:
def is_outlier(ser):
    z_score=0
    for name, col in data.iteritems():
        Mean = col.mean()
        Std = col.std()
        z_score = np.max([(ser[name]-Mean)/Std,z_score])
    return z_score>2

In [8]:
data['outlier'] = data.apply(is_outlier, axis=1)
data[data['outlier']==1]

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007,outlier
0,2,50,12500,98,1,True
3,2,20,5000,45,1,True
4,1,24,6000,77,0,True
9,5,46,11500,98,1,True
10,4,23,5750,58,0,True
44,4,20,5000,69,1,True
55,4,19,4750,69,1,True
96,3,17,4250,86,0,True
115,11,24,6000,64,0,True
131,2,12,3000,95,0,True
134,2,11,2750,88,0,True
137,2,12,3000,98,0,True
141,5,14,3500,86,0,True
183,4,12,3000,88,0,True
241,11,22,5500,98,0,True
247,7,12,3000,86,0,True
278,14,18,4500,78,0,True
327,14,16,4000,98,0,True
341,23,38,9500,98,0,True
395,16,10,2500,89,0,True
432,16,7,1750,87,1,True
435,16,7,1750,93,0,True
438,23,14,3500,93,0,True
439,18,8,2000,95,0,True
444,23,12,3000,86,0,True
475,26,5,1250,49,1,True
486,21,6,1500,86,0,True
492,23,4,1000,87,0,True
493,23,3,750,89,0,True
494,23,2,500,87,0,True
495,35,3,750,64,0,True
496,38,1,250,38,0,True
497,38,1,250,38,0,True
498,40,1,250,40,0,True
499,74,1,250,74,0,True
500,2,43,10750,86,1,True
501,6,22,5500,28,1,True
502,2,34,8500,77,1,True
503,2,44,11000,98,0,True
504,0,26,6500,76,1,True
505,2,41,10250,98,1,True
506,3,21,5250,42,1,True
508,2,21,5250,52,1,True
517,4,33,8250,98,1,True
528,5,24,6000,79,0,True
544,1,14,3500,95,0,True
562,4,16,4000,98,1,True
564,4,14,3500,86,0,True
605,4,11,2750,95,0,True
629,7,11,2750,89,0,True
635,11,16,4000,89,0,True
639,7,9,2250,89,1,True
672,16,15,3750,87,0,True
677,23,19,4750,62,0,True
741,23,7,1750,88,0,True
742,16,3,750,86,0,True
746,39,1,250,39,0,True
747,72,1,250,72,0,True

Recency: As time is measured in months, no cap is placed on the oultiers.

## Step 5

#### Null Values

In [11]:
data.isnull().sum()

Recency (months)                              0
Frequency (times)                             0
Monetary (c.c. blood)                         0
Time (months)                                 0
whether he/she donated blood in March 2007    0
outlier                                       0
dtype: int64

No Null Values

#### Outlier Removal

In [13]:
data_non = data[data['outlier']==0]

#### Final Data

In [29]:
X_var_list = [name for name in data.columns if name not in ['whether he/she donated blood in March 2007', 'outlier']]

X = data_non[X_var_list]

y = data_non['whether he/she donated blood in March 2007']

#### Normalisation

In [21]:
from sklearn.preprocessing import Normalizer as Norm

In [30]:
Transformer = Norm().fit(X)

X_norm = Transformer.transform(X)

## Step 6

## Step 7

In [45]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.2)

## Step 8

In [46]:
from sklearn.tree import DecisionTreeClassifier as DTC

model = DTC()

## Step 9

In [47]:
fitted_model = model.fit(X_train, y_train)

## Step 10

In [48]:
predicted_train = fitted_model.predict(X_train)

from sklearn.metrics import accuracy_score as AS

print(AS(predicted_train, y_train))

0.9184782608695652

## Step 11

In [49]:
predicted_test = fitted_model.predict(X_test)

print(AS(predicted_test, y_test))

0.7463768115942029

# 
---



---



> > > > > > > > > Â© 2021 Institute of Data


---



---